@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
	--font-anton: var(--font-anton);
	--font-outfit: var(--font-outfit);
	--font-jetbrains-mono: var(--font-jetbrains-mono);
	--font-azeret-mono: var(--font-azeret-mono);

	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-brand: var(--brand);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);

	--color-imaginative-timing-328979framerappmine-shaft: var(
		--imaginative-timing-328979framerappmine-shaft
	);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

:root {
	--radius: 0.45rem;
	--brand: #ff730e;

	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);

	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);

	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);

	--primary: oklch(0.705 0.213 47.604);
	--primary-foreground: oklch(0.98 0.016 73.684);

	--secondary: oklch(0.967 0.001 286.375);
	--secondary-foreground: oklch(0.21 0.006 285.885);

	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);

	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);

	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);

	--imaginative-timing-328979framerappmine-shaft: rgba(34, 34, 34, 1);

	--site-gutter-fixed: 10px;
	--site-gutter-fluid: 9.75vw;
	--site-container-inside: calc(var(--site-gutter-fluid) - var(--site-gutter-fixed));
	--site-container-outside: var(--site-gutter-fluid);
	--site-gutter-fixed: 15px;
	--site-gutter-fluid: 7.25vw;
}

.dark {
	--radius: 0.45rem;
	--brand: #f9700b;

	--background: oklch(24.039% 0.00151 16.27);
	--foreground: oklch(0.985 0.001 106.423);

	--card: oklch(0.216 0.006 56.043);
	--card-foreground: oklch(0.985 0.001 106.423);

	--popover: oklch(0.216 0.006 56.043);
	--popover-foreground: oklch(0.985 0.001 106.423);

	--primary: oklch(0.928 0.006 264.531);
	--primary-foreground: oklch(0.21 0.034 264.665);

	--secondary: oklch(0.278 0.033 256.848);
	--secondary-foreground: oklch(0.985 0.002 247.839);

	--muted: hsl(240 3.7% 15.9%);
	--muted-foreground: hsl(0 0.01% 45.89%);

	--accent: oklch(1 0 0 / 0.06);
	--accent-foreground: oklch(0.985 0.002 247.839);

	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.551 0.027 264.364);

	--imaginative-timing-328979framerappmine-shaft: rgba(34, 34, 34, 1);

	--site-gutter-fixed: 10px;
	--site-gutter-fluid: 9.75vw;
	--site-container-inside: calc(var(--site-gutter-fluid) - var(--site-gutter-fixed));
	--site-container-outside: var(--site-gutter-fluid);
	--site-gutter-fixed: 15px;
	--site-gutter-fluid: 7.25vw;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.custom-gradient {
	background: radial-gradient(
		50% 50% at 50% 50%,
		hsl(27, 100%, 66%) 0%,
		rgba(171, 171, 171, 0) 100%
	);
	flex: 0 0 auto;
	height: 800px;
	left: 0px;
	overflow: hidden;
	position: absolute;
	right: 0px;
	top: 0px;
}

.scroll-in {
	animation: 20s linear infinite alternate slidein;
}

@keyframes slidein {
	0% {
		transform: translate(0);
	}

	100% {
		transform: translate(-100%);
	}
}

.animated-menu-icon,
.animated-menu-icon:before,
.animated-menu-icon:after {
	transition: transform 0.25s;
}

.animated-menu-icon:before,
.animated-menu-icon:after {
	background-color: var(--color);
}

.animated-menu-icon,
.animated-menu-icon:before,
.animated-menu-icon:after {
	width: 1.8rem;
	height: 0.125rem;
	border-radius: 0.125rem;
	transform: rotate(0);
}

.animated-menu-icon {
	--color: var(--secondary-foreground);
	position: absolute;
}

.animated-menu-icon:before {
	top: -0.2125rem;
}

.animated-menu-icon:after {
	top: 0.2125rem;
}

.animated-menu-icon:before,
.animated-menu-icon:after {
	position: absolute;
	left: 0;
	content: "";
}

.Follow_heading__8r7JP {
	margin-bottom: 10px;
	font-family: var(--site-font-haffer);
	font-weight: 500;
	font-size: 0.75rem;
	letter-spacing: 0.01em;
	line-height: 1.3333333333;
}

@media screen and (min-width: 1400px) {
	.Follow_heading__8r7JP {
		font-size: 0.875rem;
		line-height: 1.5;
	}
}

.Follow_buttons__wm2FF {
	display: grid;
	grid-template-columns: repeat(3, 32px);
	grid-gap: 8px;
	gap: 8px;
}

@media screen and (min-width: 1400px) {
	.Follow_buttons__wm2FF {
		grid-template-columns: repeat(5, 36px);
		gap: 10px;
	}
}

.Follow_button__5rd4x {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 32px;
	height: 32px;
	border-width: 1px;
	border-style: solid;
	border-color: rgb(var(--component-footer-color) / 0.3);
	border-radius: 50%;
}

.Follow_button__5rd4x:focus-visible {
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb(var(--page-focus-color, currentcolor));
	outline-offset: 2px;
}

@media screen and (min-width: 1400px) {
	.Follow_button__5rd4x {
		width: 36px;
		height: 36px;
	}
}

.Follow_icon__XNozr {
	object-fit: contain;
}

.Follow_icon__XNozr.Follow_x__CI_E0 {
	width: 18px;
	height: 17px;
}

@media screen and (min-width: 1400px) {
	.Follow_icon__XNozr.Follow_x__CI_E0 {
		width: 20px;
		height: 18px;
	}
}

.Follow_icon__XNozr.Follow_linkedin__SV9zB {
	width: 17px;
	height: 16px;
}

@media screen and (min-width: 1400px) {
	.Follow_icon__XNozr.Follow_linkedin__SV9zB {
		width: 18px;
		height: 18px;
	}
}

.Follow_icon__XNozr.Follow_instagram__0XHpW {
	width: 16px;
	height: 16px;
}

@media screen and (min-width: 1400px) {
	.Follow_icon__XNozr.Follow_instagram__0XHpW {
		width: 18px;
		height: 18px;
	}
}

.Follow_icon__XNozr.Follow_reddit__MsnuJ {
	width: 16px;
	height: 16px;
}

@media screen and (min-width: 1400px) {
	.Follow_icon__XNozr.Follow_reddit__MsnuJ {
		width: 18px;
		height: 18px;
	}
}

.Follow_icon__XNozr.Follow_youtube__dy2IG {
	width: 18px;
	height: 13px;
}

@media screen and (min-width: 1400px) {
	.Follow_icon__XNozr.Follow_youtube__dy2IG {
		width: 22px;
		height: 16px;
	}
}

.Legal_copy__W5POK {
	font-family: var(--site-font-roboto-mono);
	font-size: 0.4375rem;
	line-height: 1.7142857143;
}

@media screen and (min-width: 1024px) {
	.Legal_copy__W5POK {
		font-size: 0.5625rem;
		line-height: 1.5555555556;
	}
}

.Legal_copy__W5POK a {
	text-decoration: underline;
}

.Legal_copy__W5POK p {
	margin-bottom: 15px;
}

.Legal_copy__W5POK p:last-child {
	margin-bottom: 0;
}

.Links_container__D_Yp5 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 15px;
}

.Links_container__D_Yp5:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 1024px) {
	.Links_container__D_Yp5 {
		margin-bottom: 0;
	}
}

.Links_label__XW3o8 {
	display: flex;
	align-items: center;
	height: 24px;
	margin-bottom: 12px;
	font-family: var(--site-font-haffer);
	font-weight: 500;
	font-size: 0.75rem;
	letter-spacing: 0.01em;
	line-height: 1.3333333333;
}

.Links_label__XW3o8:focus-visible {
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb(var(--page-focus-color, currentcolor));
	outline-offset: 2px;
}

.Links_label__XW3o8:last-child {
	margin-bottom: 0;
}

@media screen and (min-width: 1400px) {
	.Links_label__XW3o8 {
		font-size: 0.875rem;
		line-height: 1.5;
	}
}

.Links_content__pYJLB {
	display: flex;
	flex-direction: column;
}

.Links_item__shUex {
	display: flex;
	align-items: center;
	height: 24px;
	font-family: var(--site-font-haffer);
	font-weight: 500;
	font-size: 0.625rem;
	letter-spacing: 0.01em;
	line-height: 1.6;
}

.Links_item__shUex:focus-visible {
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb(var(--page-focus-color, currentcolor));
	outline-offset: 2px;
}

@media screen and (min-width: 1400px) {
	.Links_item__shUex {
		font-size: 0.75rem;
		line-height: 1.75;
	}
}

.Links_icon__ySWbY {
	width: 16px;
	height: 16px;
	margin-left: 5px;
	object-fit: contain;
}

.Lockup_container__nF3YQ {
	display: flex;
	align-items: center;
	height: 24px;
}

.Lockup_container__nF3YQ:focus-visible {
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb(var(--page-focus-color, currentcolor));
	outline-offset: 2px;
}

.Lockup_vector__reT17 {
	width: 88px;
	height: 24px;
}

.FooterLarge_container__emTx7 {
	margin-right: var(--site-container-outside);
	margin-left: var(--site-container-outside);
	padding-top: 60px;
	padding-bottom: 60px;
	color: rgb(var(--component-footer-color));
}

.FooterLarge_grid__CbGYH {
	display: grid;
	margin-bottom: 40px;
}

.FooterLarge_left__PdbFg {
	grid-column: 1;
}

.FooterLarge_center__I37pj {
	display: grid;
}

.FooterSmall_container__dufzV {
	margin-right: var(--site-container-outside);
	margin-left: var(--site-container-outside);
	padding-top: 40px;
	padding-bottom: 40px;
	color: rgb(var(--component-footer-color));
}

.FooterSmall_grid__hSpUP {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.FooterSmall_column__ChbP5 {
	display: flex;
	flex-direction: column;
}

.FooterSmall_left__0Xkg1 {
	grid-column: 1;
	gap: 20px;
}

.FooterSmall_right__HjgWC {
	grid-column: 2;
}

.FooterSmall_separator__Eg9EO {
	height: 1px;
	margin-top: 40px;
	margin-bottom: 35px;
	background-color: rgb(var(--component-footer-color) / 0.3);
}

.Footnotes_button__d7lus {
	display: flex;
	align-items: center;
}

.Lockup_container__pviVt {
	display: flex;
	align-items: center;
	height: 24px;
}

.Lockup_container__pviVt:focus-visible {
	outline-width: 2px;
	outline-style: solid;
	outline-color: rgb(var(--page-focus-color, currentcolor));
	outline-offset: 2px;
}

.Lockup_vector__qleKW {
	width: 88px;
	height: 24px;
}

.container {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 2rem;
	padding-left: 2rem;
}
